# IPL WINNER PROBABILITY PREDICTION PROJECT

Dataset has been taken from Kaggle : https://www.kaggle.com/datasets/vora1011/ipl-2008-to-2021-all-match-dataset

#### This notebook has been created to get the following data:
- Batting Team
- Bowling Team
- City
- Runs Left
- Balls Left
- Wickets Out
- Current Run Rate
- Required Run Rate
- Result (Winner)

### (1) Load the datasets

In [55]:
import numpy as np
import pandas as pd

In [56]:
match_df = pd.read_csv('../data/IPL_Matches_2008_2022.csv')
delivery_df = pd.read_csv('../data/IPL_Ball_by_Ball_2008_2022.csv')

In [57]:
match_df.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [58]:
delivery_df.head()

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals

### (2) Shape of the dataset

In [59]:
match_df.shape

(950, 20)

In [60]:
delivery_df.shape

(225954, 17)

### (3) Group by Innings

In [61]:
total_scores_df = delivery_df.groupby(['ID','innings']).sum()['total_run'].reset_index()

/tmp/ipykernel_4282/1386064346.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  total_scores_df = delivery_df.groupby(['ID','innings']).sum()['total_run'].reset_index()

In [62]:
total_scores_df

           ID  innings  total_run
0      335982        1        222
1      335982        2         82
2      335983        1        240
3      335983        2        207
4      335984        1        129
...       ...      ...        ...
1923  1312198        2        193
1924  1312199        1        157
1925  1312199        2        161
1926  1312200        1        130
1927  1312200        2        133

[1928 rows x 3 columns]

Group by first innings to get total runs

In [63]:
total_scores_df = total_scores_df[total_scores_df['innings'] == 1]

In [64]:
total_scores_df

           ID  innings  total_run
0      335982        1        222
2      335983        1        240
4      335984        1        129
6      335985        1        165
8      335986        1        110
...       ...      ...        ...
1918  1304116        1        157
1920  1312197        1        188
1922  1312198        1        207
1924  1312199        1        157
1926  1312200        1        130

[950 rows x 3 columns]

### (4) Merge on Match_df

In [65]:
match_df = match_df.merge(total_scores_df[['ID','total_run']], on='ID')

In [66]:
match_df

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,...,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2,total_run
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,...,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon,130
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,...,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon,157
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,...,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough,207
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,...,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma,188
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,...,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan,157
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,335986,Kolkata,2008-04-20,2007/08,4,Kolkata Knight Riders,Deccan Chargers,Eden Gardens,Deccan Chargers,bat,...,Kolkata Knight Riders,Wickets,5.0,NaN,DJ Hussey,"['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...","['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...",BF Bowden,K Hariharan,110
946,335985,Mumbai,2008-04-20,2007/08,5,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat,...,Royal Challengers Bangalore,Wickets,5.0,NaN,MV Boucher,"['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...","['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...",SJ Davis,DJ Harper,165
947,335984,Delhi,2008-04-19,2007/08,3,Delhi Daredevils,Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,...,Delhi Daredevils,Wickets,9.0,NaN,MF Maharoof,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",Aleem Dar,GA Pratapkumar,129
948,335983,Chandigarh,2008-04-19,2007/08,2,Kings XI Punjab,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,bat,...,Chennai Super Kings,Runs,33.0,NaN,MEK Hussey,"['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...","['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...",MR Benson,SL Shastri,240
949,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,...,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen,222

### (5) Sort the Teams

In [67]:
match_df['Team1'].unique()

array(['Rajasthan Royals', 'Royal Challengers Bangalore',
       'Sunrisers Hyderabad', 'Delhi Capitals', 'Chennai Super Kings',
       'Gujarat Titans', 'Lucknow Super Giants', 'Kolkata Knight Riders',
       'Punjab Kings', 'Mumbai Indians', 'Kings XI Punjab',
       'Delhi Daredevils', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Rising Pune Supergiants', 'Pune Warriors', 'Deccan Chargers',
       'Kochi Tuskers Kerala'], dtype=object)

In [68]:
teams = [
    'Rajasthan Royals',
    'Royal Challengers Bangalore',
    'Sunrisers Hyderabad',
    'Delhi Capitals',
    'Chennai Super Kings',
    'Gujarat Titans',
    'Lucknow Super Giants',
    'Kolkata Knight Riders',
    'Punjab Kings',
    'Mumbai Indians'
]

In [69]:
match_df['Team1'] = match_df['Team1'].str.replace('Delhi Daredevils','Delhi Capitals')
match_df['Team2'] = match_df['Team2'].str.replace('Delhi Daredevils','Delhi Capitals')
match_df['WinningTeam'] = match_df['WinningTeam'].str.replace('Delhi Daredevils','Delhi Capitals')

match_df['Team1'] = match_df['Team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match_df['Team2'] = match_df['Team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match_df['WinningTeam'] = match_df['WinningTeam'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

match_df['Team1'] = match_df['Team1'].str.replace('Gujarat Lions','Gujarat Titans')
match_df['Team2'] = match_df['Team2'].str.replace('Gujarat Lions','Gujarat Titans')
match_df['WinningTeam'] = match_df['WinningTeam'].str.replace('Gujarat Lions','Gujarat Titans')

match_df['Team1'] = match_df['Team1'].str.replace('Kings XI Punjab','Punjab Kings')
match_df['Team2'] = match_df['Team2'].str.replace('Kings XI Punjab','Punjab Kings')
match_df['WinningTeam'] = match_df['WinningTeam'].str.replace('Kings XI Punjab','Punjab Kings')

In [70]:
match_df = match_df[match_df['Team1'].isin(teams)]
match_df = match_df[match_df['Team2'].isin(teams)]
match_df = match_df[match_df['WinningTeam'].isin(teams)]

In [71]:
match_df.shape

(858, 21)

In [72]:
match_df = match_df[['ID','City','Team1','Team2','WinningTeam','total_run']]

In [73]:
match_df

,ID,City,Team1,Team2,WinningTeam,total_run
0,1312200,Ahmedabad,Rajasthan Royals,Gujarat Titans,Gujarat Titans,130
1,1312199,Ahmedabad,Royal Challengers Bangalore,Rajasthan Royals,Rajasthan Royals,157
2,1312198,Kolkata,Royal Challengers Bangalore,Lucknow Super Giants,Royal Challengers Bangalore,207
3,1312197,Kolkata,Rajasthan Royals,Gujarat Titans,Gujarat Titans,188
4,1304116,Mumbai,Sunrisers Hyderabad,Punjab Kings,Punjab Kings,157
...,...,...,...,...,...,...
945,335986,Kolkata,Kolkata Knight Riders,Sunrisers Hyderabad,Kolkata Knight Riders,110
946,335985,Mumbai,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore,165
947,335984,Delhi,Delhi Capitals,Rajasthan Royals,Delhi Capitals,129
948,335983,Chandigarh,Punjab Kings,Chennai Super Kings,Chennai Super Kings,240
949,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,222

In [74]:
delivery_df

,ID,innings,overs,ballnumber,batter,bowler,non-striker,extra_type,batsman_run,extras_run,total_run,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,1,0,1,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,1,0,2,YBK Jaiswal,Mohammed Shami,JC Buttler,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,1,0,3,JC Buttler,Mohammed Shami,YBK Jaiswal,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,1,0,4,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,1,0,5,YBK Jaiswal,Mohammed Shami,JC Buttler,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
225949,335982,2,14,5,P Kumar,I Sharma,SB Joshi,legbyes,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225950,335982,2,14,6,SB Joshi,I Sharma,P Kumar,NaN,1,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225951,335982,2,14,7,P Kumar,I Sharma,SB Joshi,NaN,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225952,335982,2,15,1,SB Joshi,LR Shukla,P Kumar,wides,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
225953,335982,2,15,2,SB Joshi,LR Shukla,P Kumar,NaN,0,0,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore

In [75]:
delivery_df = match_df.merge(delivery_df, on='ID')

In [76]:
delivery_df

,ID,City,Team1,Team2,WinningTeam,total_run_x,innings,overs,ballnumber,batter,...,extra_type,batsman_run,extras_run,total_run_y,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam
0,1312200,Ahmedabad,Rajasthan Royals,Gujarat Titans,Gujarat Titans,130,1,0,1,YBK Jaiswal,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
1,1312200,Ahmedabad,Rajasthan Royals,Gujarat Titans,Gujarat Titans,130,1,0,2,YBK Jaiswal,...,legbyes,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals
2,1312200,Ahmedabad,Rajasthan Royals,Gujarat Titans,Gujarat Titans,130,1,0,3,JC Buttler,...,NaN,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals
3,1312200,Ahmedabad,Rajasthan Royals,Gujarat Titans,Gujarat Titans,130,1,0,4,YBK Jaiswal,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
4,1312200,Ahmedabad,Rajasthan Royals,Gujarat Titans,Gujarat Titans,130,1,0,5,YBK Jaiswal,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204767,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,222,2,14,5,P Kumar,...,legbyes,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
204768,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,222,2,14,6,SB Joshi,...,NaN,1,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
204769,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,222,2,14,7,P Kumar,...,NaN,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
204770,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,222,2,15,1,SB Joshi,...,wides,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore
204771,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,222,2,15,2,SB Joshi,...,NaN,0,0,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore

In [77]:
delivery_df['BattingTeam'] = delivery_df['BattingTeam'].str.replace('Delhi Daredevils','Delhi Capitals')

delivery_df['BattingTeam'] = delivery_df['BattingTeam'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

delivery_df['BattingTeam'] = delivery_df['BattingTeam'].str.replace('Gujarat Lions','Gujarat Titans')

delivery_df['BattingTeam'] = delivery_df['BattingTeam'].str.replace('Kings XI Punjab','Punjab Kings')

In [78]:
delivery_df = delivery_df[delivery_df['BattingTeam'].isin(teams)]

Generating Bowling Team column

In [79]:
def bowl(row):
    if row['Team1'] == row['BattingTeam']:
        return row['Team2']
    else:
        return row['Team1']

In [80]:
delivery_df['BowlingTeam'] = delivery_df.apply(bowl,axis=1)

In [81]:
delivery_df

,ID,City,Team1,Team2,WinningTeam,total_run_x,innings,overs,ballnumber,batter,...,batsman_run,extras_run,total_run_y,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,BowlingTeam
0,1312200,Ahmedabad,Rajasthan Royals,Gujarat Titans,Gujarat Titans,130,1,0,1,YBK Jaiswal,...,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
1,1312200,Ahmedabad,Rajasthan Royals,Gujarat Titans,Gujarat Titans,130,1,0,2,YBK Jaiswal,...,0,1,1,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
2,1312200,Ahmedabad,Rajasthan Royals,Gujarat Titans,Gujarat Titans,130,1,0,3,JC Buttler,...,1,0,1,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
3,1312200,Ahmedabad,Rajasthan Royals,Gujarat Titans,Gujarat Titans,130,1,0,4,YBK Jaiswal,...,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
4,1312200,Ahmedabad,Rajasthan Royals,Gujarat Titans,Gujarat Titans,130,1,0,5,YBK Jaiswal,...,0,0,0,0,0,NaN,NaN,NaN,Rajasthan Royals,Gujarat Titans
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204767,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,222,2,14,5,P Kumar,...,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
204768,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,222,2,14,6,SB Joshi,...,1,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
204769,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,222,2,14,7,P Kumar,...,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
204770,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,222,2,15,1,SB Joshi,...,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
204771,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,222,2,15,2,SB Joshi,...,0,0,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore,Kolkata Knight Riders

### (6) Group by second innings

In [82]:
delivery_df = delivery_df[delivery_df['innings'] == 2]

In [83]:
delivery_df

,ID,City,Team1,Team2,WinningTeam,total_run_x,innings,overs,ballnumber,batter,...,batsman_run,extras_run,total_run_y,non_boundary,isWicketDelivery,player_out,kind,fielders_involved,BattingTeam,BowlingTeam
120,1312200,Ahmedabad,Rajasthan Royals,Gujarat Titans,Gujarat Titans,130,2,0,1,WP Saha,...,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals
121,1312200,Ahmedabad,Rajasthan Royals,Gujarat Titans,Gujarat Titans,130,2,0,2,WP Saha,...,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals
122,1312200,Ahmedabad,Rajasthan Royals,Gujarat Titans,Gujarat Titans,130,2,0,3,WP Saha,...,1,0,1,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals
123,1312200,Ahmedabad,Rajasthan Royals,Gujarat Titans,Gujarat Titans,130,2,0,4,Shubman Gill,...,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals
124,1312200,Ahmedabad,Rajasthan Royals,Gujarat Titans,Gujarat Titans,130,2,0,5,Shubman Gill,...,0,0,0,0,0,NaN,NaN,NaN,Gujarat Titans,Rajasthan Royals
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204767,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,222,2,14,5,P Kumar,...,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
204768,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,222,2,14,6,SB Joshi,...,1,0,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
204769,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,222,2,14,7,P Kumar,...,0,0,0,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
204770,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,222,2,15,1,SB Joshi,...,0,1,1,0,0,NaN,NaN,NaN,Royal Challengers Bangalore,Kolkata Knight Riders
204771,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,222,2,15,2,SB Joshi,...,0,0,0,0,1,SB Joshi,caught,BB McCullum,Royal Challengers Bangalore,Kolkata Knight Riders

### (7) Generate required columns for prediction

Current Score

In [84]:
delivery_df['current_score'] = delivery_df.groupby('ID').cumsum()['total_run_y']

/tmp/ipykernel_4282/3325906612.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.cumsum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  delivery_df['current_score'] = delivery_df.groupby('ID').cumsum()['total_run_y']
/tmp/ipykernel_4282/3325906612.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['current_score'] = delivery_df.groupby('ID').cumsum()['total_run_y']

Runs Left

In [85]:
delivery_df['runs_left'] = delivery_df['total_run_x'] - delivery_df['current_score']+1

/tmp/ipykernel_4282/4148514409.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['runs_left'] = delivery_df['total_run_x'] - delivery_df['current_score']+1

Balls Left

In [86]:
delivery_df['balls_left'] = 120 - (delivery_df['overs']*6 + delivery_df['ballnumber'])

/tmp/ipykernel_4282/1931403187.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['balls_left'] = 120 - (delivery_df['overs']*6 + delivery_df['ballnumber'])

Wickets Left

In [87]:
wickets = delivery_df.groupby('ID').cumsum()['isWicketDelivery'].values
delivery_df['wickets'] = 10 - wickets

/tmp/ipykernel_4282/1411168926.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.cumsum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  wickets = delivery_df.groupby('ID').cumsum()['isWicketDelivery'].values
/tmp/ipykernel_4282/1411168926.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['wickets'] = 10 - wickets

Current Run Rate

In [88]:
# current_run_rate = runs/overs
delivery_df['current_run_rate'] = (delivery_df['current_score']*6)/(120 - delivery_df['balls_left'])

/tmp/ipykernel_4282/1251681764.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['current_run_rate'] = (delivery_df['current_score']*6)/(120 - delivery_df['balls_left'])

Required Run Rate

In [89]:
# required_run_rate = runs_left/overs_left
delivery_df['required_run_rate'] = (delivery_df['runs_left']*6)/delivery_df['balls_left']

/tmp/ipykernel_4282/4238007078.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['required_run_rate'] = (delivery_df['runs_left']*6)/delivery_df['balls_left']

Result (Winner)

In [90]:
def result(row):
    if row['BattingTeam'] == row['WinningTeam']:
        return 1 
    else:
        return 0

In [91]:
delivery_df['Result'] = delivery_df.apply(result,axis=1)

/tmp/ipykernel_4282/2052643436.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivery_df['Result'] = delivery_df.apply(result,axis=1)

In [92]:
delivery_df

,ID,City,Team1,Team2,WinningTeam,total_run_x,innings,overs,ballnumber,batter,...,fielders_involved,BattingTeam,BowlingTeam,current_score,runs_left,balls_left,wickets,current_run_rate,required_run_rate,Result
120,1312200,Ahmedabad,Rajasthan Royals,Gujarat Titans,Gujarat Titans,130,2,0,1,WP Saha,...,NaN,Gujarat Titans,Rajasthan Royals,0,131,119,10,0.000000,6.605042,1
121,1312200,Ahmedabad,Rajasthan Royals,Gujarat Titans,Gujarat Titans,130,2,0,2,WP Saha,...,NaN,Gujarat Titans,Rajasthan Royals,0,131,118,10,0.000000,6.661017,1
122,1312200,Ahmedabad,Rajasthan Royals,Gujarat Titans,Gujarat Titans,130,2,0,3,WP Saha,...,NaN,Gujarat Titans,Rajasthan Royals,1,130,117,10,2.000000,6.666667,1
123,1312200,Ahmedabad,Rajasthan Royals,Gujarat Titans,Gujarat Titans,130,2,0,4,Shubman Gill,...,NaN,Gujarat Titans,Rajasthan Royals,1,130,116,10,1.500000,6.724138,1
124,1312200,Ahmedabad,Rajasthan Royals,Gujarat Titans,Gujarat Titans,130,2,0,5,Shubman Gill,...,NaN,Gujarat Titans,Rajasthan Royals,1,130,115,10,1.200000,6.782609,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
204767,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,222,2,14,5,P Kumar,...,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,80,143,31,1,5.393258,27.677419,0
204768,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,222,2,14,6,SB Joshi,...,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,81,142,30,1,5.400000,28.400000,0
204769,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,222,2,14,7,P Kumar,...,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,81,142,29,1,5.340659,29.379310,0
204770,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,222,2,15,1,SB Joshi,...,NaN,Royal Challengers Bangalore,Kolkata Knight Riders,82,141,29,1,5.406593,29.172414,0
204771,335982,Bangalore,Royal Challengers Bangalore,Kolkata Knight Riders,Kolkata Knight Riders,222,2,15,2,SB Joshi,...,BB McCullum,Royal Challengers Bangalore,Kolkata Knight Riders,82,141,28,0,5.347826,30.214286,0

### (8) Creating the required Dataframe

In [93]:
ultimate_df = delivery_df[['BattingTeam','BowlingTeam','City','runs_left','balls_left','wickets','total_run_x','current_run_rate','required_run_rate','Result']]

In [94]:
ultimate_df

,BattingTeam,BowlingTeam,City,runs_left,balls_left,wickets,total_run_x,current_run_rate,required_run_rate,Result
120,Gujarat Titans,Rajasthan Royals,Ahmedabad,131,119,10,130,0.000000,6.605042,1
121,Gujarat Titans,Rajasthan Royals,Ahmedabad,131,118,10,130,0.000000,6.661017,1
122,Gujarat Titans,Rajasthan Royals,Ahmedabad,130,117,10,130,2.000000,6.666667,1
123,Gujarat Titans,Rajasthan Royals,Ahmedabad,130,116,10,130,1.500000,6.724138,1
124,Gujarat Titans,Rajasthan Royals,Ahmedabad,130,115,10,130,1.200000,6.782609,1
...,...,...,...,...,...,...,...,...,...,...
204767,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,143,31,1,222,5.393258,27.677419,0
204768,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,142,30,1,222,5.400000,28.400000,0
204769,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,142,29,1,222,5.340659,29.379310,0
204770,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,141,29,1,222,5.406593,29.172414,0
204771,Royal Challengers Bangalore,Kolkata Knight Riders,Bangalore,141,28,0,222,5.347826,30.214286,0

### (9) Checking for anomalies

In [95]:
ultimate_df = ultimate_df.sample(ultimate_df.shape[0])

In [96]:
ultimate_df.sample()

,BattingTeam,BowlingTeam,City,runs_left,balls_left,wickets,total_run_x,current_run_rate,required_run_rate,Result
77911,Gujarat Titans,Punjab Kings,Chandigarh,99,66,10,189,10.111111,9.0,1

In [97]:
ultimate_df.isnull().sum()

BattingTeam             0
BowlingTeam             0
City                 6012
runs_left               0
balls_left              0
wickets                 0
total_run_x             0
current_run_rate        0
required_run_rate      11
Result                  0
dtype: int64

In [98]:
ultimate_df.describe()

,runs_left,balls_left,wickets,total_run_x,current_run_rate,required_run_rate,Result
count,98874.000000,98874.000000,98874.000000,98874.000000,98874.000000,9.886300e+04,98874.000000
mean,93.145670,62.804246,7.541851,165.404656,7.455195,NaN,0.531363
std,49.965384,33.406357,2.152188,28.851342,2.262087,NaN,0.499018
min,-15.000000,-3.000000,0.000000,67.000000,0.000000,-inf,0.000000
25%,54.000000,35.000000,6.000000,147.000000,6.292683,7.200000e+00,0.000000
50%,92.000000,64.000000,8.000000,165.000000,7.500000,8.921739e+00,1.000000
75%,131.000000,92.000000,9.000000,185.000000,8.700000,1.101221e+01,1.000000
max,249.000000,119.000000,10.000000,248.000000,36.000000,inf,1.000000

In [99]:
ultimate_df = ultimate_df[ultimate_df['balls_left'] != 0]

In [100]:
ultimate_df.describe()

,runs_left,balls_left,wickets,total_run_x,current_run_rate,required_run_rate,Result
count,98544.000000,98544.000000,98544.000000,98544.000000,98544.000000,98544.000000,98544.000000
mean,93.389582,63.014562,7.557416,165.362376,7.453584,10.505325,0.532706
std,49.859196,33.263626,2.136848,28.857047,2.264681,14.109256,0.498932
min,-15.000000,-3.000000,0.000000,67.000000,0.000000,-516.000000,0.000000
25%,54.000000,35.000000,6.000000,147.000000,6.288462,7.200000,0.000000
50%,93.000000,64.000000,8.000000,165.000000,7.500000,8.914286,1.000000
75%,131.000000,92.000000,9.000000,185.000000,8.700000,10.986190,1.000000
max,249.000000,119.000000,10.000000,248.000000,36.000000,714.000000,1.000000

In [101]:
ultimate_df.isnull().sum()

BattingTeam             0
BowlingTeam             0
City                 5990
runs_left               0
balls_left              0
wickets                 0
total_run_x             0
current_run_rate        0
required_run_rate       0
Result                  0
dtype: int64

In [102]:
ultimate_df.dropna(inplace=True)

In [103]:
ultimate_df.isnull().sum()

BattingTeam          0
BowlingTeam          0
City                 0
runs_left            0
balls_left           0
wickets              0
total_run_x          0
current_run_rate     0
required_run_rate    0
Result               0
dtype: int64

In [104]:
ultimate_df.shape

(92554, 10)

In [105]:
ultimate_df['City'].unique()

array(['Kolkata', 'Chandigarh', 'Pune', 'Bangalore', 'Johannesburg',
       'Hyderabad', 'Chennai', 'Mumbai', 'Delhi', 'Dubai', 'Kanpur',
       'Centurion', 'Durban', 'Abu Dhabi', 'Bengaluru', 'Jaipur',
       'Sharjah', 'Rajkot', 'Navi Mumbai', 'Dharamsala', 'Ahmedabad',
       'Port Elizabeth', 'Kimberley', 'Visakhapatnam', 'Ranchi', 'Nagpur',
       'Cape Town', 'Cuttack', 'Indore', 'East London', 'Raipur',
       'Bloemfontein'], dtype=object)

In [106]:
ultimate_df['City'] = ultimate_df['City'].str.replace('Bangalore','Bengaluru')
ultimate_df['City'] = ultimate_df['City'].str.replace('Dharamsala','Dharamshala')

In [107]:
ultimate_df.to_csv('../data/IPL_dataset.csv',index=False)

### (10) Split the dataset into train and test datasets

In [108]:
X = ultimate_df.iloc[:,:-1]
Y = ultimate_df.iloc[:,-1]

In [109]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=1)

### (11) One Hot Encoder

In [110]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

trf = ColumnTransformer([
    ('trf',OneHotEncoder(sparse=False,drop='first'),['BattingTeam','BowlingTeam','City'])
]
,remainder='passthrough')

### (12) Building the pipeline

In [111]:
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

In [112]:
pipe = Pipeline(steps=[
    ('step1',trf),
    ('step2',LogisticRegression(solver='liblinear'))
])

In [113]:
pipe.fit(X_train,Y_train)

/home/codespace/.local/lib/python3.10/site-packages/sklearn/preprocessing/_encoders.py:828: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Pipeline(steps=[('step1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('trf',
                                                  OneHotEncoder(drop='first',
                                                                sparse=False),
                                                  ['BattingTeam', 'BowlingTeam',
                                                   'City'])])),
                ('step2', LogisticRegression(solver='liblinear'))])

In [114]:
Y_pred = pipe.predict(X_test)

### (13) Checking the accuracy

In [115]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_test,Y_pred)

0.80919453298039

In [116]:
pipe.predict_proba(X_test)[0]

array([0.75096944, 0.24903056])

### (14) Send to pickle file

In [117]:
import pickle
pickle.dump(pipe,open('iplpipe.pkl','wb'))

Extras

In [118]:
ultimate_df['City'].unique()

array(['Kolkata', 'Chandigarh', 'Pune', 'Bengaluru', 'Johannesburg',
       'Hyderabad', 'Chennai', 'Mumbai', 'Delhi', 'Dubai', 'Kanpur',
       'Centurion', 'Durban', 'Abu Dhabi', 'Jaipur', 'Sharjah', 'Rajkot',
       'Navi Mumbai', 'Dharamshala', 'Ahmedabad', 'Port Elizabeth',
       'Kimberley', 'Visakhapatnam', 'Ranchi', 'Nagpur', 'Cape Town',
       'Cuttack', 'Indore', 'East London', 'Raipur', 'Bloemfontein'],
      dtype=object)

In [119]:
ultimate_df['BattingTeam'].unique()

array(['Mumbai Indians', 'Punjab Kings', 'Rajasthan Royals',
       'Sunrisers Hyderabad', 'Royal Challengers Bangalore',
       'Delhi Capitals', 'Kolkata Knight Riders', 'Chennai Super Kings',
       'Gujarat Titans', 'Lucknow Super Giants'], dtype=object)